<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="ISO-8859-1">
<title>Offerta Create</title>
</head>
<body>
	
	<!-- two different files for create and edit -->
	<h1>Crea Offerta</h1>
	
	<form th:object="${offerta}"
			method="POST">
		
		<label for="titolo">Titolo</label>
		<input type="text" name="titolo" th:value="*{titolo}">
		
		<label for="dataInizio">Data Inizio</label>
		<input type="text" name="dataInizio" th:value="*{dataInizio}">
		
		<label for="dataFine">Data Fine</label>
		<input type="text" name="dataFine" th:value="*{dataFine}">
				
		<input type="submit" value="Crea">
	</form>
</body>
</html>